@use "sass:color";
@use "../abstracts/functions" as funcs;
@use "../abstracts/mixins" as mxs;
@use "../abstracts/include-media" as media;

.button {
    display: inline-flex;
    @include mxs.font-size(8, mobile, true, false, true);
    @if ( funcs.get-font-size(8, desktop) != funcs.get-font-size(8, mobile) ) {
        @include media.media( '>tablet' ) {
            @include mxs.font-size(8, desktop, true, false, true);
        }
    }
    @include mxs.font-weight(semibold);
    line-height: 16px;
    text-decoration: none !important;
	text-transform: uppercase;
    background-color: funcs.color(bg, 3);
    color: funcs.color(typography, 1) !important;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    justify-content: center;
    padding: 16px 32px;
	height: 48px;
    text-align: center;
    white-space: nowrap;

	&:hover {
		background: color.adjust(funcs.color(bg, 3), $lightness: 1%);
	}

    &:active {
        outline: 0;
    }

    &::before {
        border-radius: 2px;
    }
}

.button-sm {
    padding: 8px 24px;
	height: 32px;
}

.button-primary {
	background: color.mix(funcs.color(primary, 1), funcs.color(primary, 2));
    background: linear-gradient(65deg, funcs.color(primary, 1) 0, funcs.color(primary, 2) 100%);

    &:hover {
		background: color.adjust(color.mix(funcs.color(primary, 1), funcs.color(primary, 2)), $lightness: 2%);
        background: linear-gradient(65deg, color.adjust(funcs.color(primary, 1), $lightness: 2%) 0, color.adjust(funcs.color(primary, 2), $lightness: 2%) 100%);
    }
}

.button-block {
    display: flex;
}

.button-block {
    display: flex;
	width: 100%;
}


@include media.media( '<=tablet' ) {

	.button-wide-mobile {
		width: 100%;
		max-width: 280px;
	}
}
